/* Tags */
a {
    color: #1199c3;
    display: block;
    margin-top: 0.6em;
    text-decoration: none;
}

body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "EB Garamond", sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #f5a623;
    display: inline;
    font-size: 3em;
    line-height: 1.5em;
}

h2 {
    color: #999;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 0.5em;
    padding: 0.7em;
    text-decoration: underline;
}

h3 {
    color: #000;
    font-size: 1.2em;
    font-style: italic;
    line-height: 1.3em;
}

h4 {
    color: #4a4a4a;
    font-size: 0.875em;
    font-weight: bold;
    line-height: 1.1em;
}

h2,
h3,
h4,
h5 {
    padding: 0.6em 5%;
}

hr {
    margin-bottom: 0.6em;
    margin-top: 0.6em;
}

img {
    padding: 0.6em;
}

p {
    color: #333;
    font-size: 0.875em;
    line-height: 1.3em;
}

span {
    padding: 0.3em;
}

ul {
    list-style-type: none;
}




/* Classes */
.biopic {
    display: none;
    float: left;
    padding: 0.6em;
    width: 200px;
}

.clear-fix {
    overflow: auto;
}

.center-content {
    padding: 1.5% 3%;
}

.dark-gray {
    background-color: #4a4a4a;
}

.date-text {
    color: #999;
    float: left;
    font-size: 0.875em;
    font-style: italic;
    line-height: 1em;
}

.education-entry,
.work-entry,
.project-entry {
    padding: 0 5%;
}

.flex-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0.6em;
}

.green {
    background-color: #e0fde0;
    clear: both;
    padding-bottom: 0.6em;
}

.location-text {
    color: #999;
    float: right;
    font-size: 0.875em;
    font-style: italic;
    line-height: 1em;
}

.online {
    line-height: 0.3em;
    margin-top: 1em;
    text-decoration: underline;
}

.red {
	background-color: #dd3e50;
}

.red-text {
    color: #dd3e50;
}

.welcome-message {
    color: #f3f3f3;
    font-size: 1.1em;
    font-style: italic;
    line-height: 3em;
}

.white-text {
    color: #fff;
    font-weight: bold;
}




/* IDs */
#intButton {
    float: right;
    font-size: 1em;
    margin-top: 3.5em;
}

#header {
    background-color: #484848;
}

#lets-connect {
    text-align: center;
}

#main {
    font-size: 24px;
}

#map {
    display: block;
    height: 100%;
    margin: 0 5% 1em;
}

#mapDiv {
    height: 400px;
    width: 100%;
    padding-bottom: 5%;
}

#name {
    color: #dd3e50;
}

#role {
    color: #a9feaa;
}

#skills {
    padding: 0;
}

#skills-h3 {
    color: #dd3e50;
    display: none;
}



/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
    #lets-connect {
        margin-top: 5%;
    };
}

@media only screen and (max-width:900px) {
    .biopic {
        width: 175px;
    };
}

@media only screen and (max-width: 750px) {
    #lets-connect {
        display: none;
    }

    .biopic {
        width: 150px;
    }

    .welcome-message {
        display: none;
    }
}

@media only screen and (min-width: 750px) {
    #skills-h3,
	.biopic {
        display: block;
    };
}
